{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if request.user.is_authenticated and request.user.id == post.user.id%}
            <a class="btn btn-danger mb-3" href="{% url 'posts:post_delete' post.user.id post.id %}">Delete Post</a>
            <a class="btn btn-info mb-3" href="{% url 'posts:post_edit' post.user.id post.id %}">Edit Post</a>
        {% endif %}
        <p>{{ post.user }} | {{ post.created|date }} | {{ rviews }} views</p>
        <p>{{ post.body }}</p>

        <p>This post has {{ comments.count }} comment{{ comments.count|pluralize }}.</p>
        <hr>
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary {% if can_like %} disabled {% endif %} col-md-2" href="{% url 'posts:post_like' post.id %}">Like {{ post.likes_count }}</a>
            <p></p>
        {% endif %}
        <br>
    <br>

        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="btn btn-primary"><br>
            </form>
        {% else %}
            <p>Only logged in users can send commits</p>
        {% endif %}<br>

        {% for comment in comments %}
            <div class="card bg-dark text-white">
                <p class="card-header">{{ comment.user }}<a href="">  reply</a></p>
                <p class="card-body">{{ comment.body }}</p>
                {% if request.user.is_authenticated %}
                <div class="card-body" style="display: none">
                    <form action="{% url 'posts:add_reply' post.id comment.id %}" method="post">
                        {% csrf_token %}
                        {{ reply.as_p }}
                        <input type="submit" value="Send" name="" id="">
                    </form>
                </div>
                {% else %}
                    <p>You have to login to send reply</p>
                {% endif %}
                {% for reply in comment.rcomment.all %}
                    <p class="bg-primary text-white p-3 m-5">{{ reply.user }} <br> {{ reply.body }}</p>
                {% endfor %}
            </div><br>
        {% empty %}
            <p>There is no comment</p>
        {% endfor %}<br>

    </div>
{% endblock %}